@*//------------------------------*@


<div id="fetchMenuTop">
</div>
<div id="fetchInfoBooking">
</div>
<div id="nextstep" data-aos="fade-up">
    <div id="tab1" class="tab-chung">
        @Html.Action("BookingDetails", "Home")
    </div>
    <div id="tab2" class="tab-chung">
        @Html.Action("InputCarDetails", "Home")
    </div>
    <div id="tab3" class="tab-chung">
        @Html.Action("ChooseServices", "Home")
    </div>
    <div id="tab4" class="tab-chung">
        @Html.Action("ReviewBillsDiscount", "Home")
    </div>
    <div id="tab5" class="tab-chung">
        @Html.Action("ReviewBillsDiscount", "Home")
    </div>
    <div id="tab6" class="tab-chung">
        @Html.Action("WaitScreen", "Home")
    </div>
    <div id="tab7" class="tab-chung">
        @Html.Action("SuccessBooking", "Home")
    </div>
</div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<script>
    $(".tab-chung").hide();
    $("#tab1").show();
    fetchMenuTop1();
    /*fetchStep1();*/
    fetchPhoneInputForm();
    /*fetchOTPAuthentication()*/
    var step = 1;
    function next() {
        step += 1;
        $(".tab-chung").hide();
        $("#tab" + step).show();
    }
    function back() {
        if (step > 1) {
            step -= 1;
            $(".tab-chung").hide();
            $("#tab" + step).show();
        }
    }

    function fetchMenuTop1() {
        $.ajax({
            type: "POST",
            url: '/Home/MenuTop1',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchMenuTop').html(res);
            },
        });
    }
    function fetchMenuTop2() {
        $.ajax({
            type: "POST",
            url: '/Home/MenuTop2',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchMenuTop').html(res);
            },
        });
    }
    function fetchPhoneInputForm() {

        $.ajax({
            type: "POST",
            url: '/Home/PhoneInputForm',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchInfoBooking').html(res);
            },
        });
    }
    function fetchOTPAuthentication() {
        fetchMenuTop2();
        $.ajax({
            type: "POST",
            url: '/Home/OTPAuthentication',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchInfoBooking').html(res);
            },
        });
    }
    function fetchStep1() {


        //$("#fetchInfoBooking").hide();
        //$("#nextstep").show();
        //----------------------------------------------------------
        //$.ajax({
        //    type: "POST",
        //    url: '/Home/BookingDetails',
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "html",
        //    async: false,
        //    success: function (res) {
        //        $('#fetchInfoBooking').html(res);
        //    },
        //});
    }
    function fetchStep2() {
        $.ajax({
            type: "POST",
            url: '/Home/InputCarDetails',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchInfoBooking').html(res);
            },
        });
    }
    function fetchStep3() {
        $.ajax({
            type: "POST",
            url: '/Home/ChooseServices',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchInfoBooking').html(res);
            },
        });
    }
    function fetchStep4() {
        $.ajax({
            type: "POST",
            url: '/Home/ReviewBillsDiscount',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchInfoBooking').html(res);
            },
        });
    }
    function fetchStep5() {
        //CHỌN PHUONG THUC KHUYEN MAI
    }
    function fetchStep6() {
        $.ajax({
            type: "POST",
            url: '/Home/WaitScreen',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchInfoBooking').html(res);
            },
        });
    }
    function fetchStep7() {
        $.ajax({
            type: "POST",
            url: '/Home/SuccessBooking',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchInfoBooking').html(res);
            },
        });
    }
</script>
<script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js"></script>
@*<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-firestore.js"></script>*@

<script type="module">
    //import { getAuth, RecaptchaVerifier} from "./node_modules/firebase/auth";
    import { getAuth, RecaptchaVerifier } from 'https://www.gstatic.com/firebasejs/9.6.11/firebase-auth.js';
    const auth = getAuth();

    window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('sign-in-button', {
        'size': 'invisible',
        'callback': (response) => {                        
            phoneAuth();
        }
    }, auth);


    recaptchaVerifier.render().then((widgetId) => {
        window.recaptchaWidgetId = widgetId;
    });

    // Your web app's Firebase configuration    
    const firebaseConfig = {
        apiKey: "AIzaSyAY_B_twz__hzFOWBR9bwvtUYZvc85GqFI",
        authDomain: "carrect-5499e.firebaseapp.com",
        projectId: "carrect-5499e",
        storageBucket: "carrect-5499e.appspot.com",
        messagingSenderId: "615884581774",
        appId: "1:615884581774:web:9f5199fd7cd2c1d689d2df",
        measurementId: "G-FGX2D3DT5R"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    window.onload = function () {        
        render();
    };
    
    function render() {        
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('sign-in-button', {
            'size': 'invisible',
            'callback': (response) => {                          
                phoneAuth();
            }
        }, auth);

        //recaptchaVerifier.render().then((widgetId) => {
        //    window.recaptchaWidgetId = widgetId;
        //});

        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
        recaptchaVerifier.render();
    }

    function phoneAuth() {        
        //get the number
        var number = document.getElementById('ip-phonenumber').value;

        //phone number authentication function of firebase
        //it takes two parameter first one is number,,,second one is recaptcha
        firebase.auth().signInWithPhoneNumber(auth,number, window.recaptchaVerifier).then(function (confirmationResult) {
            //s is in lowercase
            window.confirmationResult = confirmationResult;
            coderesult = confirmationResult;
            console.log(coderesult);
            alert("Message sent");
            fetchOTPAuthentication();
        }).catch(function (error) {
            alert(error.message);
        });

    }
    function codeverify() {
        var code = '';
        $('input[name="ip-otp"]').each(function () {
            code += $(this).val();
            console.log(code);
        });

        coderesult.confirm(code).then(function (result) {
            alert("Successfully registered");
            var user = result.user;
            console.log(user);
        }).catch(function (error) {
            alert(error.message);
        });
    }
</script>