@*//------------------------------*@

<div id="fetchMenuTop">
</div>
<div id="fetchInfoBooking">
</div>
<div id="nextstep" data-aos="fade-up">
    <div id="tab1" class="tab-chung">
        @Html.Action("BookingDetails", "Home")
    </div>
    <div id="tab2" class="tab-chung">
        @Html.Action("InputCarDetails", "Home")
    </div>
    <div id="tab3" class="tab-chung">
        @Html.Action("ChooseServices", "Home")
    </div>
    <div id="tab4" class="tab-chung">
        @Html.Action("ReviewBillsDiscount", "Home")
    </div>
    <div id="tab5" class="tab-chung">
        @Html.Action("ReviewBillsDiscount", "Home")
    </div>
    <div id="tab6" class="tab-chung">
        @Html.Action("WaitScreen", "Home")
    </div>
    <div id="tab7" class="tab-chung">
        @Html.Action("SuccessBooking", "Home")
    </div>
</div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<script>
    $(".tab-chung").hide();
    $("#tab1").show();
    fetchMenuTop1();
    fetchStep1();
     /*fetchPhoneInputForm();*/
    var step = 1;
    function next() {
        step += 1;
        $(".tab-chung").hide();
        $("#tab" + step).show();
    }
    function back() {
        if (step>1) {
            step -= 1;
            $(".tab-chung").hide();
            $("#tab" + step).show();
        }
    }

    function fetchMenuTop1() {
        $.ajax({
            type: "POST",
            url: '/Home/MenuTop1',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchMenuTop').html(res);
            },
        });
    }
    function fetchMenuTop2() {
        $.ajax({
            type: "POST",
            url: '/Home/MenuTop2',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchMenuTop').html(res);
            },
        });
    }
    function fetchPhoneInputForm() {

        $.ajax({
            type: "POST",
            url: '/Home/PhoneInputForm',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchInfoBooking').html(res);
            },
        });
    }
    function fetchOTPAuthentication() {
        fetchMenuTop2();
        $.ajax({
            type: "POST",
            url: '/Home/OTPAuthentication',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchInfoBooking').html(res);
            },
        });
    }
    function fetchStep1() {
        $("#fetchInfoBooking").hide();
        $("#nextstep").show();
        //$.ajax({
        //    type: "POST",
        //    url: '/Home/BookingDetails',
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "html",
        //    async: false,
        //    success: function (res) {
        //        $('#fetchInfoBooking').html(res);
        //    },
        //});
    }
    function fetchStep2() { 
        $.ajax({
            type: "POST",
            url: '/Home/InputCarDetails',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchInfoBooking').html(res);
            },
        });
    }
    function fetchStep3() {
        $.ajax({
            type: "POST",
            url: '/Home/ChooseServices',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchInfoBooking').html(res);
            },
        });
    }
    function fetchStep4() {
        $.ajax({
            type: "POST",
            url: '/Home/ReviewBillsDiscount',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchInfoBooking').html(res);
            },
        });
    }
    function fetchStep5() {
        //CHỌN PHUONG THUC KHUYEN MAI
    }
    function fetchStep6() {
        $.ajax({
            type: "POST",
            url: '/Home/WaitScreen',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchInfoBooking').html(res);
            },
        });
    }
    function fetchStep7() {
        $.ajax({
            type: "POST",
            url: '/Home/SuccessBooking',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchInfoBooking').html(res);
            },
        });
    }
</script>
